block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="description" content="")
        link(href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Open+Sans:800" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")
        link(rel="stylesheet" type='text/css' href="css/main.min.css")

        //script( src="https://use.fontawesome.com/b10e62c34a.js")
    body
        .preloader(id='preload')
            div(class="sk-folding-cube")
                div(class="sk-cube1 sk-cube")
                div(class="sk-cube2 sk-cube")
                div(class="sk-cube3 sk-cube")
                div(class="sk-cube4 sk-cube")

        .wrapper
            include ../modules/header
            block content
            include ../modules/footer
            include ../modules/modal
        script(src="js/scripts.min.js")

        block script