extends  layout/main

block variables
    - var title = 'Блог'

block content
    section.page-top-block
        .container
            .row
                div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 page-top-left-col")
                    .page-top-left
                        h2 Блог
                        .sub-title полезная информация и новости нашей компании
                        .page-top-category-block
                            .title Все проекты
                            ul
                                each val in [ 'Архитектура', 'Графика', 'Дизайн интерьера', 'Предметы интерьера' ]
                                    li
                                        a( href="#" )= val
                div(class="col-lg-8 col-md-8 col-sm-6 col-xs-12 page-top-right-col")
                    .page-top-right
                        img( src="img/1.jpg" )
    section.all-blog
        .container
            .category-block
                .title
                    span Все проекты
                    i(class="fa fa-angle-right" aria-hidden="true").rotate90
                ul.dropdown-ul-first
                    li
                        a
                            span Архитектура
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе
                    li
                        a
                            span Графика
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе
                    li
                        a
                            span Дизайн интерьера
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе
                    li
                        a
                            span Предметы интерьера
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе




            .row
                div(class="col-lg-6 col-md-6 col-sm-12 col-xs-12 blog-col")
                    .blog-block
                        .img-block
                            img( src="img/1.jpg" )
                        .text-block
                            .date-block
                                .year 2017
                                .day 24
                                .months авг.
                            h4 Будь в тренде: 8 модных образов  интерьера
                            p Рассуждаем о современной роли архитектора и конструктора, образовании, командной работе и проблемах в городском проектировании...
                            a.button(href='#') ЧИТАТЬ ДАЛЕЕ
                div(class="col-lg-6 col-md-6 col-sm-12 col-xs-12 blog-col")
                    .blog-block
                        .text-block
                            .date-block
                                .year 2017
                                .day 24
                                .months авг.
                            h4 Будь в тренде: 8 модных образов  интерьера
                            p Рассуждаем о современной роли архитектора и конструктора, образовании, командной работе и проблемах в городском проектировании...
                            p Рассуждаем о современной роли архитектора и конструктора, образовании, командной работе и проблемах в городском проектировании...
                            p Рассуждаем о современной роли архитектора и конструктора, образовании, командной работе и проблемах в городском проектировании...
                            p Рассуждаем о современной роли архитектора и конструктора
                            a.button(href='#') ЧИТАТЬ ДАЛЕЕ
                div(class="col-lg-6 col-md-6 col-sm-12 col-xs-12 blog-col")
                    .blog-block
                        .img-block
                            img( src="img/1.jpg" )
                        .text-block
                            .date-block
                                .year 2017
                                .day 24
                                .months авг.
                            h4 Будь в тренде: 8 модных образов  интерьера
                            p Рассуждаем о современной роли архитектора и конструктора, образовании, командной работе и проблемах в городском проектировании...
                            a.button(href='#') ЧИТАТЬ ДАЛЕЕ
                div(class="col-lg-6 col-md-6 col-sm-12 col-xs-12 blog-col")
                    .blog-block
                        .text-block
                            .date-block
                                .year 2017
                                .day 24
                                .months авг.
                            h4 Будь в тренде: 8 модных образов  интерьера
                            p Рассуждаем о современной роли архитектора и конструктора, образовании, командной работе и проблемах в городском проектировании...
                            p Рассуждаем о современной роли архитектора и конструктора, образовании, командной работе и проблемах в городском проектировании...
                            p Рассуждаем о современной роли архитектора и конструктора, образовании, командной работе и проблемах в городском проектировании...
                            p Рассуждаем о современной роли архитектора и конструктора
                            a.button(href='#') ЧИТАТЬ ДАЛЕЕ
                div(class="col-lg-6 col-md-6 col-sm-12 col-xs-12 blog-col")
                    .blog-block
                        .img-block
                            img( src="img/1.jpg" )
                        .text-block
                            .date-block
                                .year 2017
                                .day 24
                                .months авг.
                            h4 Будь в тренде: 8 модных образов  интерьера
                            p Рассуждаем о современной роли архитектора и конструктора, образовании, командной работе и проблемах в городском проектировании...
                            a.button(href='#') ЧИТАТЬ ДАЛЕЕ
                div(class="col-lg-6 col-md-6 col-sm-12 col-xs-12 blog-col")
                    .blog-block
                        .text-block
                            .date-block
                                .year 2017
                                .day 24
                                .months авг.
                            h4 Будь в тренде: 8 модных образов  интерьера
                            p Рассуждаем о современной роли архитектора и конструктора, образовании, командной работе и проблемах в городском проектировании...
                            p Рассуждаем о современной роли архитектора и конструктора, образовании, командной работе и проблемах в городском проектировании...
                            p Рассуждаем о современной роли архитектора и конструктора, образовании, командной работе и проблемах в городском проектировании...
                            p Рассуждаем о современной роли архитектора и конструктора
                            a.button(href='#') ЧИТАТЬ ДАЛЕЕ
            ul.pagination
                li.active
                    a(href="#") 01
                li
                    a(href="#") 02
                li
                    a(href="#") 03
                li
                    a(href="#") 04