extends  layout/main

block variables
    - var title = 'Блог'

block content
    section.page-top-block.contact-page
        .container
            .row
                div(class="col-lg-4 col-md-4 col-sm-12 col-xs-12")
                    .page-top-left
                        h2 Контакты
                        .address-block
                            .address-box
                                .title Адрес:
                                .address
                                    span Россия, 630005 <strong>г. Новосибирск</strong>, <br>ул. Октябрьская, 79, к.50
                                    a.map-button(href="#" id='novosib-map')
                                .address
                                    span 195112 г. <strong>Санкт-Петербург</strong>, <br> Малоохтинский пр-т 16, офис 3Н
                                    a.map-button(href="#" id='sanck-map')
                            .address-box
                                .title Телефон:
                                .phone г. Новосибирск: &nbsp
                                    a(href="tel:+79039000784") +7-903-900-07-84
                                .phone г. Новосибирск: &nbsp
                                    a(href="tel:+79039000784") +7-903-900-07-84
                            .address-box
                                .title Email:
                                .email
                                    a(href="email:cad.nsk@yandex.ru") cad.nsk@yandex.ru
                            .address-box
                                .title Social:
                                .social-block
                                    a(href="#")
                                        img(src="img/linkedin.svg")
                                    a(href="#")
                                        img(src="img/googleplus.svg")
                                    a(href="#")
                                        img(src="img/twitter.svg")
                                    a(href="#")
                                        img(src="img/face.svg")
                div(class="col-lg-8 col-md-8 col-sm-12 col-xs-12")
                    .page-top-right
                        .map-block(id="map")
    section.contact-bottom
        .container
            .form-block.wow.fadeInRight
                h4 Свяжитесь с нашим менеджером
                form(action="" id="contact-form")
                    .input-block
                        input.in_name(type="text" name="name" placeholder="Имя*")
                    .input-block
                        input.in_phone(type="text" name="phone" placeholder="Телефон*")
                    .input-block
                        input.in_email(type="email" name="email" placeholder="Email*")
                    .textarea-block
                        label Cообщение:
                        textarea
                    .submit-block
                        input(type="submit" value="ОТПРАВИТЬ ЗАЯВКУ" class="button color-accent border-accent")
block script
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFyM7FK25Yu55AqeRoQMPybOqgG3dB5gY&callback=initMap" async defer)