extends  layout/main

block variables
    - var title = 'Главная страница'

block content
    section.home-top
        .container
            .home-slide-wrapper.row
                ul.count-index-slide
                    li.index(id="index-slide") 01
                    li /
                    li.count(id="count-slide") 04
                .left.my-col
                .right.my-col
                    .home-slider(id="slider-top")
                        div
                            .home-slide
                                h2 СТУДИЯ АРХИТЕКТУРЫ И ДИЗАЙНА
                                .img-block
                                    img(src="img/top.jpg")
                                .text  мы создаем, чтобы Вы получали удовольствие
                        div
                            .home-slide
                                h2 СТУДИЯ АРХИТЕКТУРЫ И ДИЗАЙНА
                                .img-block
                                    img(src="img/2.jpg")
                                .text  мы создаем, чтобы Вы получали удовольствие
                        div
                            .home-slide
                                h2 СТУДИЯ АРХИТЕКТУРЫ И ДИЗАЙНА
                                .img-block
                                    img(src="img/3.jpg")
                                .text  мы создаем, чтобы Вы получали удовольствие
                        div
                            .home-slide
                                h2 СТУДИЯ АРХИТЕКТУРЫ И ДИЗАЙНА
                                .img-block
                                    img(src="img/4.jpg")
                                .text  мы создаем, чтобы Вы получали удовольствие
    section.home-about-us
        .text-block-left.wow.fadeInLeft
            .title “Студия Архитектуры и Дизайна”
            .sub-title современный и эксклюзивный дизайн Вашего дома
        .text-block-right.wow.fadeInRight
            a(href="#" class="button-strela" id='strela')
                img(src="img/strela.svg")
            p ООО «Студия Архитектуры и Дизайна», возглавляемая Чепуриной Ларисой Геннадьевной‚работает на рынке дизайна и проектных услугс 2003 года.
            p Работы студии широко известны по Сибирскому региону и представлены рядом интересных проектов в Москве и Санкт-Петербурге.
            p Студия также имеет опыт работы за рубежом,а именно Казахстан‚Чехия и Финляндия.
            .title Мы оказываем услуги:
            ul
                each val in ['Архитектурное проектирование','Дизайн интерьеров','Ландшафтный дизайн','Декорирование, освещение, подбор мебели','Согласование, авторский надзор']
                    li
                        a(href="#")= val
        .absolute-block.wow.fadeIn
            .img-block
                img(src="img/20002.jpg")
    section.our-achievements
     .container
         h3.color-white Наши достижения
         .row(id="counts")
             div(class="col-lg-3 col-md-3 col-sm-6 col-xs-12 achievement-box")
                 .achievement-block
                     span.count.spincrement 15
                     span.text лет стабильной работы
             div(class="col-lg-3 col-md-3 col-sm-6 col-xs-12 achievement-box")
                 .achievement-block
                     span.count.spincrement 94
                     span.text реализованных проектов
             div(class="col-lg-3 col-md-3 col-sm-6 col-xs-12 achievement-box")
                 .achievement-block
                     span.count.spincrement 11
                     span.text городов по всему миру
             div(class="col-lg-3 col-md-3 col-sm-6 col-xs-12 achievement-box")
                 .achievement-block
                     span.count.spincrement 04
                     span.text страны, в которых мы работаем
    section.our-comand
        .container
            h3 Наша команда
            .sub-title это талантиливые и амбициозные дизайнеры и архитекторы
            .comand-slider-top.wow.fadeInDown
                div
                    .comand-big-block(id="slide1")
                        .img-block
                            img(src="img/2388.jpg")
                        .text-block
                            .title Александра Протасова
                            .desc Квалифицированный специалист, который на профессиональной основе осуществляет архитектурное проектирование.
                div
                    .comand-big-block(id="slide2")
                        .img-block
                            img(src="img/2352.jpg")
                        .text-block
                            .title Антон Гук
                            .desc Квалифицированный специалист, который на профессиональной основе осуществляет архитектурное проектирование.
                div
                    .comand-big-block(id="slide3")
                        .img-block
                            img(src="img/2306.jpg")
                        .text-block
                            .title Константин Лаптев
                            .desc Квалифицированный специалист, который на профессиональной основе осуществляет архитектурное проектирование.
                div
                    .comand-big-block(id="slide4" class="active")
                        .img-block
                            img(src="img/2246.jpg")
                        .text-block
                            .title Лариса Геннадьевна Чепурина
                            .desc Квалифицированный специалист, который на профессиональной основе осуществляет архитектурное проектирование.
                div
                    .comand-big-block(id="slide5")
                        .img-block
                            img(src="img/2120.jpg")
                        .text-block
                            .title Татьяна Сухорукова
                            .desc Квалифицированный специалист, который на профессиональной основе осуществляет архитектурное проектирование.
                div
                    .comand-big-block(id="slide6")
                        .img-block
                            img(src="img/2323.jpg")
                        .text-block
                            .title Ксения Маликова
                            .desc Квалифицированный специалист, который на профессиональной основе осуществляет архитектурное проектирование.
            .comand-slider-bottom
                a.comand-smal-block(href="#" data-slide="slide2")
                    .img-block
                        img(src="img/2352.jpg")
                    .title Антон Гук
                a.comand-smal-block(href="#" data-slide="slide3")
                    .img-block
                        img(src="img/2306.jpg")
                    .title Константин Лаптев
                a.comand-smal-block(href="#" data-slide="slide4")
                    .img-block
                        img(src="img/2246.jpg")
                    .title Лариса Геннадьевна Чепурина
                a.comand-smal-block(href="#" data-slide="slide5")
                    .img-block
                        img(src="img/2120.jpg")
                    .title Татьяна Сухорукова
                a.comand-smal-block(href="#" data-slide="slide1")
                    .img-block
                        img(src="img/2388.jpg")
                    .title Александра Протасова
                a.comand-smal-block(href="#" data-slide="slide6")
                    .img-block
                        img(src="img/2323.jpg")
                    .title Ксения Маликова
    section.our-services
        .container
            h3.color-white Наши услуги
            .sub-title.color-white качество оказываемых нами услуг залог надежного сотрудничества
            .row
                div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 services-col")
                    .services-block.wow.fadeInLeft
                        .img-block
                            img(src="img/prepare.svg")
                        .title Предпроектная подготовка
                        .desc Цель нашей работы сделать среду обитания наших заказчиков красивой и гармоничной.
                div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 services-col")
                    .services-block.wow.fadeInDown
                        .img-block
                            img(src="img/artist.svg")
                        .title Дизайн
                        .desc Цель нашей работы сделать среду обитания наших заказчиков красивой и гармоничной.
                div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 services-col")
                    .services-block.wow.fadeInRight
                        .img-block
                            img(src="img/nadzor.svg")
                        .title Авторский надзор
                        .desc Цель нашей работы сделать среду обитания наших заказчиков красивой и гармоничной.
                div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 services-col")
                    .services-block.wow.fadeInLeft
                        .img-block
                            img(src="img/project.svg")
                        .title Проектирование
                        .desc Цель нашей работы сделать среду обитания наших заказчиков красивой и гармоничной.
                div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 services-col")
                    .services-block.wow.fadeInUp
                        .img-block
                            img(src="img/Vector.svg")
                        .title Перепланировка и реконструкция
                        .desc Цель нашей работы сделать среду обитания наших заказчиков красивой и гармоничной.
                div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 services-col")
                    .services-block.wow.fadeInRight
                        .img-block
                            img(src="img/vastru shastra.svg")
                        .title Вастру Шастра
                        .desc Цель нашей работы сделать среду обитания наших заказчиков красивой и гармоничной.
    section.home-project
        .container
            h3 Проекты
            .sub-title Проекты изменившие жизнь к лучшему
            .tabs-block
                .tabs-top
                    .title Все проекты
                    span.arrow.rotate90
                        img(src="img/arrow-rite.svg")
                ul.tabs-ul-mobile
                    li.active
                        a(href="#" data-project="project-col") Все проекты
                    li.no-active
                        a(href="#" data-project="project-completed") Завершенные
                    li.no-active
                        a(href="#" data-project="project-during") В процессе
                ul.tabs-ul-desktop
                    li.active
                        a(href="#" data-project="project-col") Все проекты
                    li
                        a(href="#" data-project="project-completed") Завершенные
                    li
                        a(href="#" data-project="project-during") В процессе
            .home-project-wrapper
                .row
                    div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-during")
                        .project-block( style="background: url(img/1.jpg) center/cover no-repeat").wow.fadeInLeft
                            .absolute-block
                                .title Дом в стиле Хай Тек
                                ul
                                    li
                                        a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                                    li
                                        a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                                    li
                                        a(href="#") АРХИТЕКТУРА
                                a( href="#" ).button ПОДРОБНЕЕ
                    div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-completed")
                        .project-block( style="background: url(img/1.jpg) center/cover no-repeat").wow.fadeInDown
                            .absolute-block
                                .title Дом в стиле Хай Тек
                                ul
                                    li
                                        a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                                    li
                                        a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                                    li
                                        a(href="#") АРХИТЕКТУРА
                                a( href="#" ).button ПОДРОБНЕЕ
                    div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-during")
                        .project-block( style="background: url(img/1.jpg) center/cover no-repeat").wow.fadeInRight
                            .absolute-block
                                .title Дом в стиле Хай Тек
                                ul
                                    li
                                        a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                                    li
                                        a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                                    li
                                        a(href="#") АРХИТЕКТУРА
                                a( href="#" ).button ПОДРОБНЕЕ
                    div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-completed")
                        .project-block( style="background: url(img/1.jpg) center/cover no-repeat").wow.fadeInLeft
                            .absolute-block
                                .title Дом в стиле Хай Тек
                                ul
                                    li
                                        a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                                    li
                                        a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                                    li
                                        a(href="#") АРХИТЕКТУРА
                                a( href="#" ).button ПОДРОБНЕЕ
                    div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-during")
                        .project-block( style="background: url(img/1.jpg) center/cover no-repeat").wow.fadeInUp
                            .absolute-block
                                .title Дом в стиле Хай Тек
                                ul
                                    li
                                        a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                                    li
                                        a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                                    li
                                        a(href="#") АРХИТЕКТУРА
                                a( href="#" ).button ПОДРОБНЕЕ
                    div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-completed")
                        .project-block( style="background: url(img/1.jpg) center/cover no-repeat").wow.fadeInRight
                            .absolute-block
                                .title Дом в стиле Хай Тек
                                ul
                                    li
                                        a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                                    li
                                        a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                                    li
                                        a(href="#") АРХИТЕКТУРА
                                a( href="#" ).button ПОДРОБНЕЕ
                    div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-completed")
                        .project-block( style="background: url(img/1.jpg) center/cover no-repeat").wow.fadeInLeft
                            .absolute-block
                                .title Дом в стиле Хай Тек
                                ul
                                    li
                                        a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                                    li
                                        a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                                    li
                                        a(href="#") АРХИТЕКТУРА
                                a( href="#" ).button ПОДРОБНЕЕ
                    div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-during")
                        .project-block( style="background: url(img/1.jpg) center/cover no-repeat").wow.fadeInUp
                            .absolute-block
                                .title Дом в стиле Хай Тек
                                ul
                                    li
                                        a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                                    li
                                        a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                                    li
                                        a(href="#") АРХИТЕКТУРА
                                a(href="#").button ПОДРОБНЕЕ
                    div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-completed")
                        .project-block( style="background: url(img/1.jpg) center/cover no-repeat").wow.fadeInRight
                            .absolute-block
                                .title Дом в стиле Хай Тек
                                ul
                                    li
                                        a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                                    li
                                        a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                                    li
                                        a(href="#") АРХИТЕКТУРА
                                a( href="#" ).button ПОДРОБНЕЕ
                    div(class="col-lg-12 col-md-12 col-sm-6 col-xs-12 project-col project-col-button")
                        a(class="all-project-button button color-accent border-accent" href="#") ЕЩЕ ПРОЕКТЫ
    section.citata-block
        .author-wrapper
            .img-block.wow.fadeInLeft
                img(src="img/Joe.png")
            .text-block.wow.fadeInRight
                .citata «Хороший дизайн виден сразу.  Отличный дизайн незаметен»
                .author-name Джо Спарано
                .author-prof дизайнер интерьеров
    section.home-contact
        h3 Контакты
        .sub-title свяжитесь с нами и мы обсудим Ваш проект
        .contact-wrapper
            .address-block.fadeInLeft.wow
                .address-box
                    .title Адрес:
                    .address Россия, 630005 <strong>г. Новосибирск</strong>, <br>ул. Октябрьская, 79, к.50
                    .address 195112 г. <strong>Санкт-Петербург</strong>, <br> Малоохтинский пр-т 16, офис 3Н
                .address-box
                    .title Телефон:
                    .phone г. Новосибирск: &nbsp
                        a(href="tel:+79039000784") +7-903-900-07-84
                    .phone г. Новосибирск: &nbsp
                        a(href="tel:+79039000784") +7-903-900-07-84
                .address-box
                    .title Email:
                    .email
                        a(href="email:cad.nsk@yandex.ru") cad.nsk@yandex.ru
                .address-box
                    .title Social:
                    .social-block
                        a(href="#")
                            img(src="img/linkedin.svg")
                        a(href="#")
                            img(src="img/googleplus.svg")
                        a(href="#")
                            img(src="img/twitter.svg")
                        a(href="#")
                            img(src="img/face.svg")

            .form-block.wow.fadeInRight
                h4 Свяжитесь с нашим менеджером
                form(action="" id="contact-form")
                    .input-block
                        input.in_name(type="text" name="name" placeholder="Имя*")
                    .input-block
                        input.in_phone(type="text" name="phone" placeholder="Телефон*")
                    .input-block
                        input.in_email(type="email" name="email" placeholder="Email*")
                    .textarea-block
                        label Cообщение:
                        textarea
                    .submit-block
                        input(type="submit" value="ОТПРАВИТЬ ЗАЯВКУ" class="button color-accent border-accent")




