extends  layout/main

block variables
    - var title = 'Статья'

block content
    section.page-top-block
        .container
            .row
                div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 page-top-left-col")
                    .page-top-left
                        h2 Блог
                        .sub-title полезная информация и новости нашей компании
                        .page-top-category-block
                            .title Все проекты
                            ul
                                each val in [ 'Архитектура', 'Графика', 'Дизайн интерьера', 'Предметы интерьера' ]
                                    li
                                        a( href="#" )= val
                div(class="col-lg-8 col-md-8 col-sm-6 col-xs-12 page-top-right-col")
                    .page-top-right
                        img( src="img/1.jpg" )
    section.one-blog
        .container
            .category-block
                .title
                    span Все проекты
                    i(class="fa fa-angle-right" aria-hidden="true").rotate90
                ul.dropdown-ul-first
                    li
                        a
                            span Архитектура
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе
                    li
                        a
                            span Графика
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе
                    li
                        a
                            span Дизайн интерьера
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе
                    li
                        a
                            span Предметы интерьера
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе




            h3 Будь в тренде: 8 модных образов  интерьера
            .img-block
                img( src="img/1.jpg" )
            p Удивительно, с каким энтузиазмом мы каждый год готовимся к рождественским праздникам. И чем ближе событие, тем больше суеты замечаешь вокруг. Но согласись, это все-таки приятный круговорот дел, после которого следует долгожданный отдых. Стилисты и декораторы в этом году предлагают украшать свой дом, базируясь на собственном чувстве стиля и ритме жизни. Например, если ты великий консерватор, то можете смело отдавать предпочтение традиционному убранству, если ты экспериментатор – фантазируй и находи свое решение в смешении фактур и деталей.
            p При этом нам рекомендуют не пренебрегать общими тенденциями, которые прозвучали уже не только в сфере интерьеров, но и в модной индустрии. Так, среди них на пике популярности по-прежнему находятся геометрические принты, цветочные узоры на темном фоне, золото, медь, а также бархатные ткани и сверкающие поверхности. Пикантности столь традиционному празднику можно придать, если вместо привычной уже звезды добавить на верхушку елки необычное украшение.
            p Большое внимание трендсеттеры уделили значению цвета. Можно сказать, что сегодня, правильно выбранный тон в сочетании с подходящей фактурой – чуть ли не главные составляющие твоего успеха.
            p В целом же, чтобы окончательно не запутаться, мы собрали для тебя восемь модных образов новогоднего интерьера, в основе каждого из которых лежит тот или иной цвет.
            p Скорее смотрим!
            p 1. Меднокаменный век В основе этого образа лежит палитра из разнообразия медных, терракотовых и бронзовых оттенков.
            p Фото: Half Baked Harvest, Broste Здесь важно использовать цветовую гамму в полной мере – от светлого тона до темного, чтобы получить нужные контрасты.
            p Стоит отдать предпочтение некоторым деталям декора с глянцевой поверхностью – таким образом, обстановка будет выглядеть более праздничной.
            .one-project-buttons
                a(href="#" class="project-prev button color-accent border-accent")
                    svg(width="48px" height="7px" viewBox="0 0 48 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        g(id="1920---блог-расширенный" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-676.000000, -1830.000000)" stroke-linecap="square")
                            g(id="Group-5" transform="translate(564.000000, 1757.000000)" fill="#1F1A17" stroke="#1F1A17")
                                path(d="M159.5,76.5 L112.5,76.5" id="Line-5")
                                path(id="Line-5-decoration-1" d="M112.5,76.5 L123.3,79.5 L123.3,73.5 L112.5,76.5 Z")
                    span ПРЕДЫДУЩИЙ ПРОЕКТ
                a(href="#" class="project-next button color-accent border-accent" )
                    span СЛЕДУЮЩИЙ ПРОЕКТ
                    svg(width="48px" height="7px" viewBox="0 0 48 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        g(id="1920---блог-расширенный" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-1196.000000, -1830.000000)" stroke-linecap="square")
                            g(id="Group-5" transform="translate(652.000000, 1817.000000)" fill="#1F1A17" stroke="#1F1A17")
                                path(d="M544.5,16.5 L591.5,16.5" id="Line-5")
                                path(id="Line-5-decoration-1" d="M591.5,16.5 L580.7,13.5 L580.7,19.5 L591.5,16.5 Z")
