extends  layout/main

block variables
    - var title = 'Проекты'

block content
    section.page-top-block
        .container
            .row
                div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 page-top-left-col")
                    .page-top-left
                        h2 Проекты
                        .sub-title мы не просто строим жилье, мы строим его для Вас.
                        .page-top-category-block
                            ul
                                li
                                    a.active( href="#" ) Все проекты
                                li
                                    a( href="#" ) Архитектура
                                li
                                    a( href="#" ) Графика
                                li
                                    a( href="#" ) Дизайн интерьера
                                li
                                    a( href="#" ) Предметы интерьера
                div(class="col-lg-8 col-md-8 col-sm-6 col-xs-12 page-top-right-col")
                    .page-top-right
                        img( src="img/1.jpg" )
    section.all-project
        .container
            .category-block
                .title
                    span Все проекты
                    i(class="fa fa-angle-right" aria-hidden="true").rotate90
                ul.dropdown-ul-first
                    li
                        a
                            span Архитектура
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе
                    li
                        a
                            span Графика
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе
                    li
                        a
                            span Дизайн интерьера
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе
                    li
                        a
                            span Предметы интерьера
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе

            h3 Все проекты
            .sub-title 2013/2018
            .tabs-block
                .tabs-top
                    .title Все проекты
                    span.arrow.rotate90
                        img(src="img/arrow-rite.svg")
                ul.tabs-ul-mobile
                    li.active
                        a(href="#" data-project="project-col") Все проекты
                    li.no-active
                        a(href="#" data-project="project-completed") Завершенные
                    li.no-active
                        a(href="#" data-project="project-during") В процессе
                ul.tabs-ul-desktop
                    li.active
                        a(href="#" data-project="project-col") Все проекты
                    li
                        a(href="#" data-project="project-completed") Завершенные
                    li
                        a(href="#" data-project="project-during") В процессе
            .all-project-wrapper
                .gutter-project
                .project-block( style="background: url(img/1.jpg) center/cover no-repeat").project-masonry
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
                .project-block( style="background: url(img/2.jpg) center/cover no-repeat").project-masonry.project-small
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
                .project-block( style="background: url(img/3.jpg) center/cover no-repeat").project-masonry
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
                .project-block( style="background: url(img/4.jpg) center/cover no-repeat").project-masonry.project-small
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
                .project-block( style="background: url(img/1.jpg) center/cover no-repeat").project-masonry
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
                .project-block( style="background: url(img/1.jpg) center/cover no-repeat").project-masonry.project-small
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
                .project-block( style="background: url(img/1.jpg) center/cover no-repeat").project-masonry.project-small
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
                .project-block( style="background: url(img/1.jpg) center/cover no-repeat").project-masonry
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
                .project-block( style="background: url(img/1.jpg) center/cover no-repeat").project-masonry.project-small
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
                .project-block( style="background: url(img/1.jpg) center/cover no-repeat").project-masonry.project-small
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
            ul.pagination
                li.active
                    a(href="#") 01
                li
                    a(href="#") 02
                li
                    a(href="#") 03
                li
                    a(href="#") 04




