extends  layout/main

block variables
    - var title = 'Проекты'

block content
    section.page-top-block
        .container
            .row
                div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 page-top-left-col")
                    .page-top-left
                        h2 Проекты
                        .sub-title мы не просто строим жилье, мы строим его для Вас.
                        .page-top-category-block
                            ul
                                li
                                    a.active( href="#" ) Все проекты
                                li
                                    a( href="#" ) Архитектура
                                li
                                    a( href="#" ) Графика
                                li
                                    a( href="#" ) Дизайн интерьера
                                li
                                    a( href="#" ) Предметы интерьера
                div(class="col-lg-8 col-md-8 col-sm-6 col-xs-12 page-top-right-col")
                    .page-top-right
                        img( src="img/1.jpg" )
    section.one-project
      .container
          .category-block
              .title
                  span Все проекты
                  i(class="fa fa-angle-right" aria-hidden="true").rotate90
              ul.dropdown-ul-first
                  li
                      a
                          span Архитектура
                          i(class="fa fa-angle-right" aria-hidden="true").rotate90
                      ul.dropdown-ul
                          li
                              a Завершенные

                          li
                              a В процессе
                  li
                      a
                          span Графика
                          i(class="fa fa-angle-right" aria-hidden="true").rotate90
                      ul.dropdown-ul
                          li
                              a Завершенные

                          li
                              a В процессе
                  li
                      a
                          span Дизайн интерьера
                          i(class="fa fa-angle-right" aria-hidden="true").rotate90
                      ul.dropdown-ul
                          li
                              a Завершенные

                          li
                              a В процессе
                  li
                      a
                          span Предметы интерьера
                          i(class="fa fa-angle-right" aria-hidden="true").rotate90
                      ul.dropdown-ul
                          li
                              a Завершенные

                          li
                              a В процессе

          .row
              div(class=" col-lg-push-5 col-lg-7 col-md-12 col-sm-12 col-xs-12")
                  .one-project-image
                      a.big-img-block(href="#" id="click-big-img-project" data-index="0")
                          img(src="img/1.jpg" id="big-img-project")
                      .small-img-block( id="project_slider" )
                          a.slider-img-project(href="img/1.jpg" data-fancybox="images" data-index="0")
                              img(src="img/1.jpg")
                          a.slider-img-project(href="img/2.jpg" data-fancybox="images" data-index="1")
                              img(src="img/2.jpg")
                          a.slider-img-project(href="img/3.jpg" data-fancybox="images" data-index="2")
                              img(src="img/3.jpg")
                          a.slider-img-project(href="img/4.jpg" data-fancybox="images" data-index="3")
                              img(src="img/4.jpg")
              div(class="col-lg-pull-7 col-lg-5 col-md-12 col-sm-12 col-xs-12")
                  .one-project-text
                      h3 Дом в стиле Хай Тек
                      p Представляет современный элегантный дом с гостиной, расположенной с фронтальной стороны. Роскошный экстерьер здания невероятно привлекателен благодаря удачным архитектурным находкам, которые сливаются в общий гармоничный ансамбль.
                      p Террасы первого и второго уровня, вынесенные к фронтальной плоскости, связывают все детали в единое целое.
                      .detail-block
                          .label 120 м2
                          .value общая площадь дома
                      .detail-block
                          .label 120 м2
                          .value общая площадь дома
                      .detail-block
                          .label 1 месяц
                          .value от начала работ до реализации
          .one-project-buttons
              a(href="#" class="project-prev button color-accent border-accent")
                svg(width="48px" height="7px" viewBox="0 0 48 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                  g(id="1920---блог-расширенный" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-676.000000, -1830.000000)" stroke-linecap="square")
                      g(id="Group-5" transform="translate(564.000000, 1757.000000)" fill="#1F1A17" stroke="#1F1A17")
                          path(d="M159.5,76.5 L112.5,76.5" id="Line-5")
                          path(id="Line-5-decoration-1" d="M112.5,76.5 L123.3,79.5 L123.3,73.5 L112.5,76.5 Z")
                span ПРЕДЫДУЩИЙ ПРОЕКТ
              a(href="#" class="project-next button color-accent border-accent" )
                span СЛЕДУЮЩИЙ ПРОЕКТ
                svg(width="48px" height="7px" viewBox="0 0 48 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    g(id="1920---блог-расширенный" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-1196.000000, -1830.000000)" stroke-linecap="square")
                        g(id="Group-5" transform="translate(652.000000, 1817.000000)" fill="#1F1A17" stroke="#1F1A17")
                            path(d="M544.5,16.5 L591.5,16.5" id="Line-5")
                            path(id="Line-5-decoration-1" d="M591.5,16.5 L580.7,13.5 L580.7,19.5 L591.5,16.5 Z")

