@import "vars"

/*==========  Desktop First  ==========*/

@media only screen and ( max-width: 1199px )
  .one-project-image
    margin-bottom: 30px
    .big-img-block
      width: 940px
      height: 627px
    .small-img-block
      a
        width: 265px
        height: 176px
  .one-project-text
    text-align: center
    h3
      text-align: center
      &:after
        right: 0
        left: 0


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1025px)
  section.home-about-us
    .text-block-right
      padding: 25px 17px 15px
    .text-block-left
      padding: 70px 15px 0
      width: 44%
  .project-block
    height: 260px
    .absolute-block
      display: flex
    .title
      font-size: 20px
  .gutter-project
    width: 3.5%
  .all-project-wrapper
    position: relative
    .project-block
      height: 438px
      width: 48.2%
      .absolute-block
        .title
          margin-bottom: 20px
          &:after
            bottom: -10px
    .project-small
      height: 203px
  .contact-page
    .address-block
      font-size: 14px
      .address-box
        margin-bottom: 15px
  .one-project-image
    .big-img-block
      &:after
        visibility: visible
        opacity: 1
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .header-wrapper
    .left
      width: 50%
      .mobile-button
        display: block
    .right
      width: 50%
      .callback
        display: none
  .main-menu
    display: none
    width: 320px
    max-width: 100%
    background-color: #fff
    border: 1px solid #000
    padding: 20px 15px
    position: absolute
    left: 0
    top: 10px
    z-index: 100
    .main-menu-top
      display: block
      margin-bottom: 15px
      .title
        text-align: center
        font: 700 30px $default-font
        color: $accent
        letter-spacing: 1.5px
        text-transform: uppercase
      .button-close
        position: absolute
        left: 10px
        top: 29px
    .menu
      flex-direction: column
      li
        display: flex
        justify-content: center
        align-items: center
        height: 42px
        border-top: 1px solid #fff
        background-color: $accent
        a
          color: #fff
          font: 700 20px $default-font
          text-transform: uppercase
      li:first-child
        border-top: none
      li.active
        background-color: #fff
        border: 1px solid $accent
        a
          color: $accent
      li.active:after
        display: none
  .logo-block
    position: absolute
    width: auto
    top: 10px
    left: 50%
    transform: translateX(-50%)
    z-index: 100
    .logo
      top: 0
      position: static
  .lang-box
    display: none
  .mob-lang-box
    display: block

  .project-block
    height: 285px
  section.home-about-us
    padding-bottom: 115px
    .text-block-right
      padding: 20px 13px 10px
      width: 53%
      p, .title
        margin-bottom: 15px
      .title
        margin-left: 90px
      ul
        width: 71%
        li
          line-height: 2.2
    .text-block-left
      padding: 65px 25px 0
      margin-top: 220px
      .title
        font-size: 20px
      .sub-title
        font-size: 16px
    .absolute-block
      width: 59%
      .img-block
        height: 350px
  .achievement-block
    margin-bottom: 20px
  .comand-slider-bottom
    display: none
  .comand-slider-top
    margin-bottom: 0
  .comand-big-block
    display: flex
    .img-block
      height: 313px
  .services-col:nth-child(2), .services-col:nth-child(4)
    border-right: none
  .services-col:nth-child(5), .services-col:nth-child(6)
    border-bottom: none
  .services-col:nth-child(4)
    border-bottom: 1px solid #979797
  .services-col:nth-child(3)
    border-right: 1px solid #979797
  .tabs-block
    .tabs-top
      display: block
    .tabs-ul-desktop
      display: none
  .address-block
    margin-right: 20px
    padding: 25px 15px 15px
  .page-top-left, .page-top-right
    height: 396px
  .page-top-block .page-top-category-block
    display: none
  .one-project-image
    .big-img-block
      width: 720px
      height: 480px
    .small-img-block
      a
        width: 203px
        height: 135px
  .gutter-project
    width: 4%
  .all-project
    padding: 30px 0
    .category-block
      display: block
      margin-bottom: 30px
    h3,.tabs-block,.sub-title
      display: none
    .project-block
      height: 332px
      width: 48%
      .absolute-block
        .title
          margin-bottom: 20px
    .project-small
      height: 150px
      ul
        display: none
  .one-project
    padding: 30px 0
    .category-block
      display: block
      margin-bottom: 30px
  .all-blog, .one-blog
    padding: 30px 0
    .category-block
      display: block
      margin-bottom: 30px
  .contact-bottom
    padding: 30px 0
  .contact-page
    h2:after
      right: 0
      margin: auto
    .page-top-left
      width: 410px
      height: auto
      padding: 50px 0
      max-width: 100%
      text-align: center
      margin: 0 auto
    .address-block
      font-size: 16px
    .page-top-right
      width: 100%
      padding: 30px 0
  .address-block .address-box a
    letter-spacing: 1.5px


/* Small Devices, Tablets */
@media only screen and (max-width : 758px)
  .home-top
    max-width: 100%
  .home-slide-wrapper
    .left, .count-index-slide
      display: none
    .right
      width: 100%
  .home-slider
    width: 100%
    .home-slide
      padding-left: 0
      h2
        max-width: 282px
        font: 400 35px $default-font
        left: 0
        right: 0
        top: 53px
        margin: auto
        text-align: center
      .img-block
        height: 300px
        img
          width: 100%
          height: 100%
          object-fit: cover
      .text
        left: 0
        right: 0
        bottom: 50px
        margin: auto
        text-align: center
      .text:before
        display: none
    .slick-dots
      display: none!important
    .slick-next
      top: 50%
      transform: translateY(-50deg)
      right: 5px
      left: unset
      bottom: unset
    .slick-prev
      bottom: unset
      top: 50%
      transform: translateY(-50deg)
      left: 5px
  section.home-about-us
    padding-bottom: 50px
    .text-block-right
      padding: 20px 13px 10px
      width: 100%
      background-color: #fff
      .button-strela
        display: none
      p, .title
        margin-bottom: 15px
        color: $accent
      .title
        text-align: center
        margin-left: 0
      ul
        width: 100%
        color: $accent
        padding-left: 20px
        li
          line-height: 1.8
          a
            color: $accent
    .text-block-left, .absolute-block
      display: none
  section.our-achievements .achievement-box, .services-col
    width: 50%
  .services-block
    padding: 15px 0
  .page-top-left-col
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    z-index: 10

  .page-top-left
    height: auto
    padding: 0 10px
    h2
      text-align: center
      font-size: 35px
      &:after
        right: 0
        margin: auto
    .sub-title
      text-align: center
  .page-top-right
    width: 100%
    height: 300px
  .one-project-image
    .big-img-block
      display: none
    .small-img-block
      a
        width: 203px
        height: 135px
@media only screen and (max-width : 630px)

  .comand-big-block
    flex-direction: column
    align-items: center
    .img-block
      width: 257px
      height: 283px
      margin-bottom: 20px
      margin-right: 0
    .text-block
      width: 80%
      .title
        text-align: center
      .title:after
        right: 0
        margin: auto
  .comand-slider-top
    .slick-next
      top: 113px
      right: 0
      transform: unset
    .slick-prev
      top: 113px
      transform: unset
      left: 0
  .contact-wrapper
    flex-direction: column
    align-items: center
  .address-block
    width: 100%
    order: 2
    margin-right: 0
    text-align: center
    .address, .phone
      margin-bottom: 10px
  .form-block
    width: 100%
    order: 1
    margin-bottom: 50px
  .author-wrapper
    flex-direction: column
    align-items: center
    .img-block
      margin-bottom: 10px
      margin-right: 0
    .text-block
      text-align: center
      max-width: 220px
      .author-name
        font-size: 20px
  .one-project-image
    .small-img-block
      a
        width: 290px
        height: 193px
  .one-project-buttons
    flex-direction: column
    align-items: center
    .project-prev
      margin: 0 0 20px
    .button
      font-size: 13px




/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

  section.our-achievements .achievement-box, .services-col
    width: 100%
  .comand-slider-top
    .slick-next
      right: -10px
    .slick-prev
      left: -10px
  .comand-big-block
    .text-block
      width: 90%
  .services-col
    border: none!important
  .services-col
    border-bottom: 1px solid #979797!important
  .services-col:last-child
    border-bottom: none!important
  .one-project-text
    h3
      font-size: 35px
    p
      text-align: left
  .one-project-buttons
    .button
      letter-spacing: 1px
  .one-project-image
    .small-img-block
      a
        margin: 0
      .slick-next
        right: -10px
      .slick-prev
        left: -10px
  .one-project, .all-blog
    .category-block
      margin-bottom: 15px
  .blog-block
    margin-bottom: 15px
    .img-block
      height: 140px
      img
        height: 100%
    .text-block
      p
        display: none
  .contact-page
    .address-block
      .address
        flex-direction: column
        align-items: center
        .map-button
          order: 1
          margin-bottom: 5px
        span
          order: 2
  .category-block .title, .category-block ul li a
    font-size: 20px

@media only screen and (max-width : 430px)
  .gutter-project
    width: 0
  .all-project
    padding: 30px 0
    .category-block
      margin-bottom: 15px
    .project-block
      height: 332px
      width: 100%
      margin-bottom: 15px
    .project-small
      height: 332px
      ul
        display: block

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  .comand-big-block
    .text-block
      width: 100%


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

