@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	outline: none!important
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: $accent
	opacity: 1
	font: 700 16px $default-font

*:-moz-placeholder
	color: $accent
	opacity: 1
	font: 700 16px $default-font

*::-moz-placeholder
	color: $accent
	opacity: 1
	font: 700 16px $default-font

*:-ms-input-placeholder
	color: $accent
	opacity: 1
	font: 700 16px $default-font

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: $accent
body input:required:valid,
body textarea:required:valid
	color: $accent

html, body
	height: 100%

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.4
	font-family: $default-font
	overflow-x: hidden
	color: $accent
	opacity: 1
.preloader
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 100%
	background-color: $accent
	z-index: 110
	transition: 0.5s all
	opacity: 1
	visibility: visible
	.sk-folding-cube
		position: absolute
		top: 50%
		left: 50%
		transform: translate( -50%, -50% )
.no-active-preload
	visibility: hidden
	opacity: 0

.input-block
	position: relative
	margin-bottom: 25px
	font: 700 16px $default-font
	input
		background-color: transparent
		border: none
		border-bottom: 1px solid $accent
		border-radius: 0
		width: 455px
		max-width: 100%
.textarea-block
	margin-bottom: 30px
	textarea
		background-color: transparent
		border: 1px solid $accent
		border-radius: 0
		width: 455px
		padding: 15px
		font: 700 16px $default-font
		max-width: 100%
		height: 140px
	label
		font: 700 16px $default-font
		color: $accent
.submit-block
	text-align: center

.sub-title
	font: 400 20px $default-font
	display: block
	margin-bottom: 35px
	text-align: center
ul,h1,h2,h3,h4,h5,h6,p
	margin: 0
	padding: 0
ul
	list-style: none
a:hover,a:focus,a:active
	text-decoration: none
	color: #f4f4f4
.form-error
	border-bottom: 1px solid red!important

h3
	font: 700 25px $default-font
	text-align: center
	margin-bottom: 30px
	color: $accent
	position: relative
	letter-spacing: 1px
h3:after
	content: ''
	display: block
	width: 92px
	height: 2px
	background-color: $accent
	position: absolute
	bottom: -15px
	left: 0
	right: 0
	margin: auto
h3.color-white:after
	background-color: #fff
.img-responsive
	display: block
	max-width: 100%
	height: auto
.button
	display: inline-block
	text-align: center
	height: 34px
	color: #fff
	border-radius: 0
	background-color: transparent
	border: 1px solid #fff
	font: 700 14px $default-font
	letter-spacing: 2px
	padding: 0 20px
	line-height: 34px
	transition-duration: 0.3s
.button:hover
	color: #c4c4c4
	border: 1px solid #c4c4c4


.text-center
	text-align: center
.color-white
	color: #fff
.color-accent
	color: $accent
.border-accent
	border: 1px solid $accent
.button.color-accent
	font-weight: 700
.hamburger
	.hamburger-box
		width: 30px
		.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after
			width: 30px
			background-color: #fff
.button-close
	.hamburger-box
		width: 30px
		.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after
			width: 30px
			background-color: $accent
header
	width: 100%
	background-color: $accent
	margin-bottom: -1px
.header-wrapper
	display: flex
	justify-content: space-between
	align-items: center
	height: 90px
	position: relative
	.left
		display: flex
		width: 51%
		.mobile-button
			display: none
	.right
		display: flex
		width: 35%
		justify-content: flex-end
		align-items: center
.logo-block
	width: 14%
	height: 100%
	.logo
		position: absolute
		top: 19px
		z-index: 10
.main-menu
	width: 100%
	.main-menu-top
		display: none
	.menu
		display: flex
		justify-content: space-between
		li
			position: relative
			a
				color: #fff
				font: 400 14px $default-font
				text-transform: uppercase
				letter-spacing: 2px
				transition-duration: 0.3s
			a:hover
				color: #c4c4c4
		li.active
			a
				font-weight: 700
		li.active:after
			content: ''
			position: absolute
			display: block
			width: 1px
			background-color: #979797
			height: 27px
			top: -27px
			left: 0
			right: 0
			margin: auto
.mob-lang-box
  display: none
  ul
    li
      display: none
    li.active
      display: flex
      min-width: 31px
      height: 31px
      align-items: center
      justify-content: center
      background-color: #fff
      a
        color: $accent
        font: 700 14px $default-font
        letter-spacing: 2px
.lang-box
	margin-left: 35px
	ul
		display: flex
		li
			a
				color: #c4c4c4
				text-transform: uppercase
				font: 400 14px $default-font
				letter-spacing: 2px
		li:first-child:after
			content: '|'
			color: #c4c4c4
			display: inline-block
			margin-right: 1px
		li.active
			a
				font-weight: 700
				letter-spacing: 2px
				color: #fff
.lang-mobile-block
	width: 320px
	max-width: 100%
	background-color: #fff
	border: 1px solid #000
	padding: 20px 15px
	position: absolute
	right: 0
	top: 10px
	z-index: 100
	display: none
	.mobile-top
		position: relative
		margin-bottom: 15px
		.title
			text-align: center
			font: 700 30px $default-font
			color: $accent
			letter-spacing: 1.5px
		.button-close
			position: absolute
			right: 0
			top: 5px
	.mobile-ul
		display: flex
		flex-direction: column
		li
			display: flex
			justify-content: center
			align-items: center
			height: 42px
			border-top: 1px solid #fff
			background-color: $accent
			a
				color: #fff
				font: 700 20px $default-font
				text-transform: uppercase
		li:first-child
			border-top: none
		li.active
			background-color: #fff
			border: 1px solid $accent
			a
				color: $accent

section.home-top
	max-width: 100vw
	background-color: $accent
	overflow: hidden
	margin: 0
	.container
		//padding-right: 0!important
		//width: 100%!important
		overflow-x: visible!important
.home-slide-wrapper
	position: relative
	background-color: $accent
	.count-index-slide
		display: inline-block
		position: absolute
		left: 0
		top: 50%
		transform: rotate(-90deg) translateY(-50%)
		li
			display: inline-block
			color: #c4c4c4
			font: 500 25px $default-font
		.index
			font-weight: 700
			color: #fff
	.left
		float: left
		min-height: 1px
		position: relative
		padding-right: 15px
		padding-left: 15px
		background-color: $accent
		width: 14%
	.right
		width: 86%
		float: left
		position: relative
		padding-right: 15px
		padding-left: 15px
		min-height: 1px
.home-slider
	width: 1370px
	.home-slide
		padding-left: 225px
		background-color: $accent
		position: relative
		h2
			position: absolute
			color: #fff
			max-width: 435px
			font: 700 54px $default-font
			left: 0
			top: 164px
			letter-spacing: 2px
		.img-block
			height: 630px
			img
				width: 100%
				height: 100%
				object-fit: cover
		.text
			position: absolute
			color: #fff
			left: 326px
			bottom: 165px
			z-index: 10
			font: 500 20px $default-font
			letter-spacing: 1px
			max-width: 285px
		.text:before 
			content: ''
			position: absolute
			top: 50%
			transform: translateY(-50%)
			left: -255px
			display: block
			width: 235px
			height: 1px
			background-color: #fff

	.slick-dots
		position: absolute
		left: 0
		top: 100px
		z-index: 10
		li
			display: inline-block
			margin-right: 10px
			button
				font-size: 0
				background-color: #c4c4c4
				display: block
				border: none
				width: 30px
				height: 2px
		.slick-active 
			button
				background-color: #fff
	.slick-next, .slick-prev
		position: absolute
		color: #fff
		bottom: 175px
		left: 0
		z-index: 10
		cursor: pointer
	.slick-next
		left: 30px
section.home-about-us
	width: 1140px
	max-width: 100%
	margin: 0 auto
	position: relative
	display: flex
	padding-bottom: 182px
	justify-content: flex-end
	.text-block-right
		width: 52%
		background-color: $accent
		position: relative
		padding: 27px
		display: flex
		flex-direction: column
		.button-strela
			position: absolute
			display: flex
			width: 68px
			height: 143px
			background-color: #1f1a17
			right: 0
			top: -143px
			img
				margin: auto
		p
			font: 400 20px $default-font
			color: #fff
			letter-spacing: 1px
			margin-bottom: 25px
		.title
			font: 700 20px $default-font
			color: #fff
			letter-spacing: 1px
			margin-bottom: 15px
		ul
			list-style: disc
			color: #fff
			width: 70%
			align-self: flex-end
			li
				line-height: 2.2
				a
					transition-duration: 0.3s
					font: 400 20px $default-font
					letter-spacing: 1px
					color: #fff
				a:hover
					color: #c4c4c4
	.text-block-left
		border-top: 1px solid $accent
		border-left: 1px solid $accent
		width: 42%
		padding: 72px 10px 0 25px
		margin-top: 154px
		.title
			font: 700 25px $default-font
			color: $accent
			letter-spacing: 1px
		.sub-title
			font: 500 20px $default-font
			color: $accent
			letter-spacing: 1px
			margin: 0
			text-align: left
			max-width: 315px
	.absolute-block
		position: absolute
		left: 0
		bottom: 4%
		width: 61%
		.img-block
			width: 100%
			height: 351px
			overflow: hidden
			img
				max-width: 100%
				min-height: 100%
				object-fit: cover
section.our-achievements
	width: 100%
	background-color: $accent
	padding: 45px 0
	.achievement-box
		padding-left: 10px
		padding-right: 10px
.achievement-block
	text-align: center
	color: #c4c4c4
	letter-spacing: 1px
	span
		display: block
	.count
		font: 800 75px $sans
	.text
		font: 400 16px $default-font
section.our-comand
	padding: 70px 0
@keyframes show-block
	from
		opacity: 0
	to
		opacity: 1
.comand-slider-top
	margin-bottom: 30px
	.slick-next, .slick-prev
		position: absolute
		color: #fff
		top: 50%
		transform: translateY(-50%)
		z-index: 10
		cursor: pointer
	.slick-next
		right: -13px
	.slick-prev
		left: -13px
.comand-big-block
	width: 710px
	max-width: 90%
	display: none
	align-items: center
	justify-content: space-between
	margin: 0 auto
	.img-block
		margin-right: 30px
		position: relative
		width: 49.5%
		height: 398px
		overflow: hidden
		img
			width: auto
			max-height: 100%
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
	.text-block
		width: 49.5%
		.title
			font: 700 20px $default-font
			color: $accent
			position: relative
			padding-bottom: 12px
			margin-bottom: 15px
		.title:after
			content: ''
			display: block
			width: 81px
			height: 2px
			background-color: $accent
			position: absolute
			bottom: 0
			left: 0
		.desc
			font: 400 16px $default-font
			line-height: 1.4
.comand-big-block.active
	animation: show-block 0.5s linear
	display: flex
.comand-slider-bottom
	width: 1000px
	max-width: 100%
	margin: auto
.comand-slider-bottom
	.slick-next, .slick-prev
		position: absolute
		color: #fff
		top: 76px
		z-index: 10
		cursor: pointer
	.slick-next
		right: -13px
	.slick-prev
		left: -13px
.comand-smal-block
	text-align: center
	display: block
	.img-block
		width: 165px
		height: 182px
		margin: 0 auto 10px
		position: relative
		overflow: hidden
		display: flex
		img
			width: auto
			max-height: 100%
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			filter: grayscale(100%)
	.title
		font: 700 15px $default-font
		color: $accent

section.our-services
	background-color: $accent
	padding: 70px 0
.services-col
	border-right: 1px solid #979797
	border-bottom: 1px solid #979797
.services-col:nth-child(3), .services-col:nth-child(6)
	border-right: none
.services-col:nth-child(4), .services-col:nth-child(5), .services-col:nth-child(6)
	border-bottom: none
.services-block
	text-align: center
	color: #fff
	padding: 30px 15px
	.img-block
		width: 53px
		height: 53px
		margin: 0 auto 13px
		img
			width: 100%
			height: 100%
	.title
		font: 400 18px $default-font
		margin-bottom: 10px
		letter-spacing: 1px
	.desc
		font: 100 16px $default-font
		letter-spacing: 1px
section.home-project
	padding: 70px 0
.tabs-block
	margin-bottom: 30px
	position: relative
	.tabs-top
		position: relative
		background-color: $accent
		padding: 0 15px
		height: 40px
		cursor: pointer
		display: none
		.title
			color: #fff
			font: 400 25px $default-font
			line-height: 40px
		.arrow
			display: block
			position: absolute
			cursor: pointer
			right: 20px
			top: 5px
			z-index: 10
	.tabs-ul-mobile
		position: absolute
		display: none
		top: 40px
		left: 0
		width: 100%
		background-color: #fff
		line-height: 40px
		cursor: pointer
		z-index: 10
		li
			display: block
			margin-right: 0
			padding: 0 15px
			background-color: #fff
			border-bottom: 1px solid $accent
			border-right: 1px solid $accent
			border-left: 1px solid $accent
			line-height: 40px
			a
				font: 400 25px $default-font
				color: $accent
				display: block
		li.active
			display: none
			background-color: $accent
			padding: 0 15px
			line-height: 40px
			a
				color: #fff
	.tabs-ul-desktop
		li
			display: inline-block
			margin-right: 30px
			a
				font: 400 25px $default-font
				color: $accent
				display: block
				padding-bottom: 5px
				letter-spacing: 1px
		li.active
			a
				border-bottom: 1px solid $accent
				font-weight: 700
.display-block
	display: block
.project-block
	width: 355px
	max-width: 100%
	height: 300px 
	display: block 
	margin: 0 auto 30px
	color: #fff
	text-align: center
	transition-duration: 0.5s
	.absolute-block
		background-color: rgba(0, 0, 0, 0.6)
		padding: 10px
		height: 100%
		width: 100%
		justify-content: center
		align-items: center
		flex-direction: column
		display: none
	.title
		font: 700 25px $default-font
		margin-bottom: 35px
		letter-spacing: 2.5px
	ul
		margin-bottom: 20px
		display: inline-block
		text-align: left
		li
			list-style: square
			line-height: 1.6
			a
				text-transform: uppercase
				font: 400 16px $default-font
				letter-spacing: 2px
				color: #fff
				transition-duration: 0.3s
			a:hover
				color: #c4c4c4
	.button
		width: 154px
		margin: 0 auto
.project-block:hover .absolute-block
	animation: show-block 0.5s linear
	display: flex
.project-col-button
	display: flex
	justify-content: center
	align-items: center

.rotate90
	transform: rotate(90deg)
section.citata-block
	background-color: $accent
	padding: 50px 25px
.author-wrapper
	width: 900px
	max-width: 100%
	display: flex
	align-items: center
	margin: 0 auto
	.img-block
		width: 262px
		height: 216px
		overflow: hidden
		margin-right: 30px
		img
			max-width: 100%
			min-height: 100%
			object-fit: cover
	.text-block
		color: #fff
		.citata
			font: 800 20px $sans
			font-style: italic
			margin-bottom: 20px
			text-transform: uppercase
		.author-name
			font: 700 25px $default-font
		.author-prof
			font: 400 20px $default-font
section.home-contact
	padding: 70px 10px
.contact-wrapper
	display: flex
	justify-content: space-between
	width: 940px
	max-width: 100%
	margin: 0 auto
.address-block
	padding: 25px 30px 15px
	width: 50%
	max-width: 455px
	background-color: $accent
	font: 400 16px $default-font
	letter-spacing: 2px
	line-height: 1.5
	margin-right: 25px
	.address-box
		color: #fff
		margin-bottom: 17px
		a
			color: #fff
			display: inline-block
	.title
		font: 700 20px $default-font
		margin-bottom: 5px
.social-block
	margin-top: 10px
	a
		display: inline-block
		width: 45px
		height: 45px
		margin-right: 30px
		transition-duration: 0.3s
		img
			margin: auto
			width: 100%
			height: 100%
	a:last-child
		margin-right: 0
	a:hover
		background-color: #404040
.form-block
	width: 50%
	max-width: 455px
	margin: 0 auto
	h4
		font: 700 20px $default-font
		color: $accent
		letter-spacing: 1px
		text-transform: uppercase
		text-align: center
		max-width: 330px
		margin: 0 auto 20px

footer
	padding: 35px 10px
	background-color: $accent
	font: 700 20px $default-font
	letter-spacing: 2px
	text-align: center
	color: #fff
.modal-thank
	width: 290px
	height: 220px
	display: none
	background-color: #ffffff
	border: solid 1px #1f1a17
	padding: 40px 15px
	text-align: center
	margin: 0 auto
	color: $accent
	.title
		font: 700 30px $default-font
		margin-bottom: 15px
	.text
		font: 400 16px $default-font
		margin-bottom: 10px
.modal-contact-form
	display: none

// projects page

.page-top-block
	width: 100vw
	position: relative
	color: #fff
	background-color: $accent
	overflow: hidden
	h2
		font: 700 40px $default-font
		color: #fff
		padding: 0 0 10px
		margin-bottom: 10px
		position: relative
		letter-spacing: 1.5px
	h2:after
		content: ''
		display: block
		position: absolute
		width: 92px
		left: 0
		bottom: -2px
		height: 2px
		background-color: #fff

	.sub-title
		font: 300 20px $default-font
		letter-spacing: 2px
		margin-bottom: 30px
		text-align: left
	.title
		font: 700 20px $default-font
		margin-bottom: 15px
		letter-spacing: 2px
	ul
		li
			margin-bottom: 15px
			a
				font: 300 20px $default-font
				letter-spacing: 2px
				color: #fff
				transition-duration: 0.3s
			a:hover, a.active
				font: 700 20px $default-font

.page-top-left
	height: 630px
	display: flex
	justify-content: center
	flex-direction: column

.page-top-right
	width: 1370px
	height: 630px
	overflow: hidden
	img
		max-width: 100%
		height: 100%
		object-fit: cover
.all-project
	padding: 70px 0 100px
.gutter-project
	width: 2.6%

.all-project-wrapper
	position: relative
	.project-block
		width: 48.5%
		max-width: 100%
		height: 531px
		.absolute-block
			.title
				position: relative
				&:after
					content: ''
					position: absolute
					bottom: -15px
					left: 0 
					right: 0 
					margin: auto 
					width: 92px 
					height: 2px
					background-color: #fff
	.project-small
		height: 249px
.pagination
	margin: 0 auto
	text-align: center
	li
		padding: 0 7px 10px
		border-bottom: 1px solid $accent
		display: inline-block
		margin-left: -5px

		a
			font: 400 20px $default-font
			color: #c4c4c4
			letter-spacing: 1px

	li.active
		border-bottom: 2px solid $accent
		a
			font-weight: 700
			color: $accent
.one-project
	padding: 70px 0 100px
.one-project-text
	h3
		font: 700 40px $default-font
		text-align: left
		letter-spacing: 1.5px
		&:after
			right: unset
			left: 0
	p
		font: 400 16px $default-font
		letter-spacing: 1.5px
		margin-bottom: 15px
	.detail-block
		margin-bottom: 15px
		.label
			font: 900 20px $sans
			letter-spacing: 1.5px
		.value
			font: 400 20px $default-font
			letter-spacing: 1.5px
.one-project-image
	.big-img-block
		display: block
		width: 650px
		max-width: 100%
		height: 435px
		overflow: hidden
		position: relative
		margin: 0 auto 30px
		transition-duration: 0.5s
		&:after
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: rgba(0, 0, 0, 0.6) url(../img/plus.svg) center no-repeat
			display: block
			opacity: 0
			visibility: hidden
			transition-duration: 0.5s
		&:hover:after
			opacity: 1
			visibility: visible
		img
			position: absolute
			height: 100%
			width: auto
			left: 50%
			top: 50%
			transform: translate( -50%, -50% )
	.small-img-block
		padding: 0 15px
		a
			display: block
			width: 177px
			height: 118px
			overflow: hidden
			position: relative
			margin: 0 15px
			img
				position: absolute
				height: 100%
				width: auto
				left: 50%
				top: 50%
				transform: translate( -50%, -50% )
		.slick-next, .slick-prev
			position: absolute
			top: 50%
			transform: translateY( -50% )
			cursor: pointer
		.slick-next
			right: 0
		.slick-prev
			left: 0
.one-project-buttons
	margin-top: 30px
	display: flex
	justify-content: center
	.project-prev
		margin-right: 30px
		display: flex
		align-items: center
		justify-content: space-between
		max-width: 300px
		span
			margin-left: 3px
	.project-next
		max-width: 300px
		justify-content: space-between
		display: flex
		align-items: center
		span
			margin-right: 1px
	.button:hover svg g
		fill: #c4c4c4
		stroke: #c4c4c4


.category-block
	display: none
	.title, ul li a
		display: flex
		justify-content: space-between
		padding: 0 20px 0 15px
		align-items: center
		height: 40px
		font: 400 25px $default-font
		background-color: $accent
		color: #fff
		cursor: pointer
		i
			font-size: 35px
	ul
		background-color: #c4c4c4
		padding: 0 2px 1px
		display: none
		li
			margin-bottom: 2px
			a
				background-color: #fff
				color: $accent
		li.active
			>a
				background-color: $accent
				color: #fff
	.dropdown-ul
		padding: 0 5px 3px
.all-blog
	padding: 70px 0 100px
.blog-block
	margin-bottom: 30px
	background-color: $accent
	.img-block
		width: 100%
		height: 200px
		overflow: hidden
		position: relative
		img
			height: auto
			width: 100%
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
	.text-block
		padding: 20px 15px
		color: #fff
		position: relative
		.date-block
			position: absolute
			top: 20px
			right: 15px
			text-align: center
			padding: 5px
			width: 55px
			background-color: #fff
			color: $accent
			.year
				font: 700 10px $default-font
				margin-bottom: 5px
			.day
				font: 900 16px $default-font
			.months
				font: 900 16px $default-font
				text-transform: uppercase
		h4
			font: 700 16px $default-font
			margin-bottom: 10px
			max-width: 85%
			letter-spacing: 1.6px
		p
			font: 300 16px $default-font
			margin-bottom: 15px
			max-width: 85%
			letter-spacing: 1.6px
.one-blog
	padding: 70px 0 100px
	h3
		font-size: 40px
	.img-block
		position: relative
		height: 345px
		width: 100%
		overflow: hidden
		margin-bottom: 25px
		img
			height: auto
			width: 100%
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
	p
		font: 400 16px $default-font
		margin-bottom: 25px

.page-top-block
	.address-block
		width: 100%
		margin: 10px 0 0
		padding: 0
		.title
			margin-bottom: 5px
.map-block
	width: 100%
	height: 100%
.contact-bottom
	padding: 70px 0 100px
.contact-page
  .address-block
	  .address
		  display: flex
		  justify-content: space-between
	  .map-button
		  width: 29px
		  height: 29px
		  background: #fff url(../img/gps.svg) center no-repeat
		  background-size: 60%
.img-anime
	animation: show-block 0.5s linear






        



















@import "media" // Всегда в конце
