header
    .container
        .header-wrapper
            .logo-block
                a.logo(href="#")
                    img(src="img/logo.jpg")
            .left
                .mobile-button
                    a(href="#" id="menu-open")
                        span(class="hamburger hamburger--collapse")
                            span(class="hamburger-box")
                                span(class="hamburger-inner")
                .main-menu
                    .main-menu-top
                        a(href="#" id="menu-close" class="button-close")
                            span(class="hamburger hamburger--collapse is-active")
                                span(class="hamburger-box")
                                    span(class="hamburger-inner")
                        .title Меню
                    ul.menu(class="mobile-ul")
                        li.active
                            a(href="#") Главная
                        li
                            a(href="#") О компани
                        li
                            a(href="#") Проекты
                        li
                            a(href="#") Блог
                        li
                            a(href="#") Контакты
            .right
                .lang-mobile-block
                    .mobile-top
                        a(href="#" id="lang-close" class="button-close")
                            span(class="hamburger hamburger--collapse is-active")
                                span(class="hamburger-box")
                                    span(class="hamburger-inner")
                        .title ЯЗЫК
                    ul.mobile-ul
                        li.active
                            a(href="#") руский
                        li
                            a(href="#") english
                a.callback(href="#" class="button" id="callback" data-fancybox data-src="#contact-form-block" ) СДЕЛАТЬ ЗАКАЗ
                .lang-box
                    ul
                        li.active
                            a(href="#") RU
                        li
                            a(href="#") ENG
                .mob-lang-box
                    ul
                        li.active
                            a(href="#") RU
                        li
                            a(href="#") ENG

