.modal-thank(id="thank-modal")
    .title Спасибо!
    .text Наш менеджер свяжеться  с Вами в ближайшее время!
    a.button(href="#" data-fancybox-close class="color-accent border-accent") ЗАКРЫТЬ
.form-block(id="contact-form-block" class="modal-contact-form")
    h4 Свяжитесь с нашим менеджером
    form(action="" id="contact-form2")
        .input-block
            input.in_name(type="text" name="name" placeholder="Имя*")
        .input-block
            input.in_phone(type="text" name="phone" placeholder="Телефон*")
        .input-block
            input.in_email(type="email" name="email" placeholder="Email*")
        .textarea-block
            label Cообщение:
            textarea
        .submit-block
            input(type="submit" value="ОТПРАВИТЬ ЗАЯВКУ" class="button color-accent border-accent")